@model Flight

@{ Layout = "_LayoutFlights"; }
@{
    if (User.IsInRole("Admin"))
    {

    }
}


    @{
        if (User.IsInRole("Admin"))
        {
            <div class="middle-content">
                <div class="container">
                    @if (Model != null)
                    {
                        <form method="post" asp-action="DeletePost">
                            <input asp-for="Id" hidden />
                            <table class="table table-bordered table-striped" slyle="width:100%">
                                <thread>
                                    <tr>
                                        <th>
                                            Number
                                        </th>
                                        <th>
                                            Time of Departure
                                        </th>
                                        <th>
                                            City of Departure
                                        </th>
                                        <th>
                                            Time of Arrival
                                        </th>
                                        <th>
                                            City of Arrival
                                        </th>
                                    </tr>
                                </thread>
                                <tbody>

                                    <tr>
                                        <td>@Model.FlightNumber</td>
                                        <td>@Model.DateTimeDeparture</td>
                                        <td>@Model.CityDeparture</td>
                                        <td>@Model.DateTimeArrival</td>
                                        <td>@Model.CityArrival</td>
                                    </tr>

                                </tbody>
                            </table>
                            <button type="submit" class="btn btn-danger" asp-action="DeletePost" asp-route-Id="@Model.Id">DELETE</button>
                            <a class="btn btn-secondary" asp-area="" asp-controller="Flights" asp-action="Index">Back</a>
                        </form>
                    }
                </div>
            </div> <!-- /.middle-content -->


        }
        else
        {
            <div class="middle-content">
                <div class="container">
                    <div class="" style="font-size: 24px; color:red;">
                        Login as administrator
                    </div>
                    <a class="btn btn-warning" asp-controller="Flights" asp-action="Index">Flights</a>
                </div>
            </div>
        }
    }











